
body {
font-family: Raleways,sans-serif;
padding-left: 2.5%;
padding-right: 2.5%;
margin-top: 6px;
box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}

/*****liste pour les filtres de recherche dans le header*******/
ul{
list-style: none;
}
li{
    display: inline-block;
    margin: 17px;
    font-size: 20px;
    align-items: center;
    margin-right: 12px;
    border: 5px solid #d9d9d9;
    border-radius: 50px;
    margin: 15px;
    cursor: pointer;
    padding-right: 18px;
    font-weight: bold;
}
.element filtre{
    border:0px solid cornsilk;
    border-radius:0px;

}
 :root{
  --blue:#0065fc;
  --blue:#dee8ff;
  --grey:#faf3f3;
 }

/*******etoiles pour la notation des hebergements***********/



.logo {
    
background:#f2f2f2;
opacity:1;
}

.logo{
    width: 74%;
}

nav{
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-nav1:hover{
    border-top: #0065fc 3px solid;
}
.container-nav2:hover{
    border-top: #0065fc 3px solid;
}


#container-nav{
    display: flex;
    width: 30%;
}
.container-nav1{
    display: flex;
    width: 50%;
    align-items: end;
    justify-content: center;

}

.container-nav2{
    display: flex;
    width: 50%;
    align-items: end;
    justify-content: center;

}

/********************top header lien à droite**********************************/
.link-1{
    margin-top: 46px;
}
.link-1:hover{
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--blue);
    cursor: pointer;   

}
.link-2{
    margin-top: 46px;
}
.link-2:hover{
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--blue);
    cursor: pointer;   

}

h1{
    font: size 19px;
}

p{
    font-size: 18px;
}

/*************touche pour ecrire la ville de recherche****************************/
#research-input{
    border: none;
    height:53 px;
    width: 160px;
}
#research{
    display:flex;
    height: 45px;
    margin-top: 15px;
}

/*********touche rechercher dans le header*************/
#button-research{
    background-color: #0065fc;
    color: #dee8ff;
    font-weight: bold;
    border-top-right-radius: 8px;
    border-bottom-right-radius:8px ;
    border:none ;
    width: 14%;
}
#research-button-phone{
    display: none;
}
#button-research:hover{
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--blue);
    cursor: pointer; 
}  

/************touche de localisation dans le header*************/
#icon6{
    color:#0065fc;
    width: 80px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0 0 8px;
    background-color: #faf3f3;
}

/**********logo icones des filtres de recherche header et icône de localisation**********/
.element1,.element2,.element3,.element4,.element6{
    background-color: #dee8ff;
    border-radius: 50%;
    height: 15px; 
    width: 15px;
    align-items: center;
    justify-content: center;
    margin: 4px;
    color: #0065fc;
    margin-right: 12px;
}



/**********icone info dans le header**********/
.element5{
    color: #0065fc;
    border-radius: 100px;
    border: solid 6px #dee8ff;
    margin-right: 8px;
    padding: 7px 11px 7px 11px;
    font-size: 18px;
}
.info p{
    display: initial;
}
.search-filters div:hover{
    background-color: #0065fc;
    cursor:pointer;
    display: flex;
}

/*****************titre hebergements à Marseille************************************/
.h3{
    size: 22px;
    line-height: 25px 83px;
}
.fa-chart-line{
    color:#0065fc;
}

.all-articles {                                   
    display: flex;                                  
    gap: 20px;
} 
.all-articles > div {
    border-radius: 16px;
    background-color: grey;
}
.all-articles h3 {
    padding-left: 20px;
}
.all-articles .hebergements {
    flex-basis: 66%;
}
.all-articles .populaires {
    flex-basis: 33%;
}
.star-blue{
    color:#0065fc;


}
.star-grey{
    color:grey;
    opacity:0.7;
}

/******************hebergements************************************************************/

.hebergements {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0;
    padding: 0 10px 0 10px;
}
.hebergements h3 {
    width: 100%;
}
.hebergements a {
    text-decoration: none;
    color: inherit;
}

.card-hebergement {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
 } 
.card-hebergement div {
    flex-basis: calc(33% - 40px);
    min-width: 220px;
}

.card {
    background-color:white;
    border-radius: 16px;
    padding: 5px;
    box-shadow: 0 0 8px var gray;
    flex-grow: 1;
    margin: 0 10px 10px 10px;
    transition: all 0.2s;
}

.card img {
    border-radius: 16px 16px 0 0;
    height: 120px;
    width: 100%;
    object-fit: cover;
}
.card p, .card h4 {
    margin: 5px
}
.card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px var blue;
    cursor: pointer;
}
.card.stars {
    margin-top: auto;
    color:#0065fc;
}



/*****************************populaires**************************************************/


.populaires {
    display: flex;
    flex-direction: column;
    background-color: var(--light-grey);
}
.populaires h3 {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.popular-list {
    display: flex;
    flex-direction: column;
}

.card-popular {
    display: flex;
    background-color:white;
    padding: 5px;
    border-radius: 15px;
    min-height: 140px;
    margin: 0 20px 20px 20px;
    min-width: 200px;
    box-shadow: 0 0 8px var(--dark-grey);
    transition: all 0.2s;
}
.card-popular:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--blue);
    cursor: pointer;
}
.card-popular img {
    object-fit: cover;
    border-radius: 16px 0 0 16px;
    height: 140px;
    min-width: 35%;
    width: 35%;
}

.card-description {
    background-color:white;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.card-description p,
.card-description h4 {
    margin: 3px;
}

.card-description .stars-margin-top {
    margin-top: auto;
}

.h4{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 26px;
    
    color: #000000; 
}
/***********************activites*****************************************/


.act{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    
}
.list{
    display: flex;
    background-color:white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    
    
}
 .card-activités {
    height: 500px;
    margin-top: auto;
    display: flex;
    width:20%;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 0 8px var(--dark-grey);
    transition: all 0.2s;
}
.card-activités img{
    border-radius: 30px 30px 0px 0px;
    background-color:grey ;
    width:100%;
    height: 400px;
    object-fit: cover;
}
.card-activités:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 40px rgb(83, 80, 255);
    cursor: pointer;
}


/*************************footer************************************************/

.footer{
    height: 200px;
    margin-top:80px;
    background-color:grey;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.card-footer{
    width: 30%;
    justify-content: center;
    margin-top :1em; 
}

    

/*******************************media queries***************************************/
/**********************************destktop first:1400***********************************/
@media screen and( max-width:1400px) {
    .ul search-filters{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}
    .all-articles{
    display: flex;
    flex-direction: column;
}
}

/***************************** tablette max 992px******************************************************/
@media screen and (max-width: 992px) {

    /*************hebergements***********************/ 
    .search-filters{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }
    .search-filters-media-querries{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }
      }
    .all-articles {
        flex-direction: column;
    }
    .all-articles > div {
        background-color: grey;
    }   

    .hebergements {
        display: flex;
        flex-direction:column;
    }
    .popular-list{
        display: flex;
        flex-direction:row;
    }
    .card-popular{
        display: flex;
    }


    .card.stars {
        margin-top: auto;
    }



/************************************** mobile: max 768 px**************************************/
@media screen and (max-width: 767px) {
    .body {
        margin-left: 0px;
    }
    .search-filters{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }
    .all-articles{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    /*******************section: menu ********/
    
    nav {
        display: block;
    }
    nav img {
        display: block;
        margin: auto;
        padding-left: 40px;
    }

    .bloc-menu {
        display: flex;
        flex-basis: 100%;
        text-align: center;
    }
    .bloc-menu a {
        flex-basis: 50%;
        text-align: center;
        justify-content: center;
        border-bottom: 3px solid var(--grey);
    }
    .bloc-menu a:hover {
        border-top-color: transparent;
        border-bottom-color: var(--blue);  
    }

    /*******************recherche***********************/   
    .fa-solid.fa-magnifying-glass {
        display: inline;
        background-color: var(--blue);
        margin-left: -5px;
        font-size: 15px;
        padding: 0;
    }
    .btn-search span {
        display: none;
    }
    
  
    /********************filters*********************/
    .filters {
        display: flex;
        flex-direction: column-reverse;
        align-content: flex-start;
        align-items: baseline;

    }
    .filters h3 {
        margin: 0;
    }
    .fa-solid.fa-info {
        min-width: 25px;
    }


    /*****************hebergements**********************/ 
    
    .all-articles {
        flex-direction: column-reverse;
    }
    .hebergements {
        padding: 0;
    }
    .card {
        height: 200px;
        width: 100%;
        margin: 0;
    }
    .card .stars {
        margin-top: auto;
    }
    .card-hebergement {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .all-articles > div {
        background-color:grey;
    }


    /****************populaire***********************/ 
   
    .populaires {
        padding-left: 0;
        background-color: grey;
    }
    .popular-list {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .card-popular {
        height: 150px;
        width: 100%;
        margin: 0 0 20px 0;
    }
    .card-popular img {
        height: 150px;
        width: 100px;
    }
    .desc-top {
        margin-bottom: 100%;
    }


    /***********************footer**********************/ 
  
    .footer {
        display: block;
        padding-left: 30px;
    }
    .footer-left, .footer-middle {
        margin-bottom: 25px;
    }
}

 {
 /*************************activités*****************/
    .activites {
        margin: 40px 0px 20px 0;
    }
    
  
    .activites-list img {
        height: 150px;
        width: 100%;
    }
 
    .vertical-center {
        margin: auto 0;
        align-items: inherit;
        margin-left: 20px;
        height: 60px;
    }
   
    .largeur {
        max-width: 100%;
    }
    
    .param-card-activity {
        border-radius: 16px;
        box-shadow: 0px 0px 8px var(--dark-grey);
    } 
    
    } 
}
