
body {
font-family: Raleways,sans-serif;
padding-left: 2.5%;
padding-right: 2.5%;
margin-top: 6px;
box-sizing: border-box;

}
a{
    text-decoration: none;
    color: black;
}

/*****liste pour les filtres de recherche dans le header*******/
ul{
list-style: none;
}
li{
    display: inline-block;
    margin: 17px;
    font-size: 20px;
    align-items: center;
    margin-right: 12px;
    border: 5px solid #d9d9d9;
    border-radius: 50px;
    margin: 15px;
    cursor: pointer;
    padding-right: 18px;
    font-weight: bold;
}
.element filtre{
    border:0px solid cornsilk;
    border-radius:0px;

}
 :root{
  --blue:#0065fc;
  --blue:#dee8ff;
  --grey:#faf3f3;
 }




.logo {
    margin-top: 40px;
    background:#f2f2f2;
    opacity:1;
    width: 74%;
   
}
.logo img{
    padding-left: 150px;
}

nav{
    height: 74px;
    display: flex;
    justify-content: space-between;
}
.container-nav1:hover{
    border-top: #0065fc 3px solid;
}
.container-nav2:hover{
    border-top: #0065fc 3px solid;
}


#container-nav{
    display: flex;
    width: 30%;
}
.container-nav1{
    display: flex;
    width: 50%;
    align-items: end;
    justify-content: center;

}
#container-nav a{
    font-size:24px;
}

.container-nav2{
    display: flex;
    width: 50%;
    align-items: end;
    justify-content: center;

}

/********************top header lien à droite**********************************/
.link-1{
    margin-top: 46px;
}
.link-1:hover{
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--blue);
    cursor: pointer;   

}
.link-2{
    margin-top: 46px;
}
.link-2:hover{
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--blue);
    cursor: pointer;   

}

h1{
    font: size 19px;
}

p{
    font-size: 22px;
}

/*************touche pour ecrire la ville de recherche****************************/
#research-input{
    border: none;
    height:53 px;
    width: 200px;
} 
#research-input{
    font-size:20px ;
    font-weight: bold;
    color: black;
}

#research{
    display:flex;
    height: 45px;
    margin-top: 15px;
}

/*********touche rechercher dans le header*************/
#button-research{
    background-color: #0065fc;
    color: #dee8ff;
    font-size: 20px;
    font-weight: bold;
    border-top-right-radius: 8px;
    border-bottom-right-radius:8px ;
    border:none ;
    width: 14%;
}
#research-button-phone{
    display: none;
}
#button-research:hover{
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--blue);
    cursor: pointer; 
}  

/************touche de localisation dans le header*************/
#icon6{
    color:#0065fc;
    width: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0 0 8px;
    background-color: #faf3f3;
}


/**********logo icones des filtres de recherche header et icône de localisation**********/

.list-element span,.list-element a{
    display:inline-block;

}
.list-element span{
    padding-left: 7px;
    color:#0065fc;
}

/**********icone info dans le header**********/
.element5{
    color: #0065fc;
    border-radius: 100px;
    border: solid 6px #dee8ff;
    margin-right: 8px;
    padding: 7px 11px 7px 11px;
    font-size: 18px;
}
.info p{
    display: initial;
}
.search-filters div:hover{
    background-color: #0065fc;
    cursor:pointer;
    display: flex;
}

/*****************titre hebergements à Marseille************************************/
.h3{
    size: 22px;
    line-height: 25px 83px;
}
.fa-chart-line{
    color:#0065fc;
}

.all-articles {                                   
    display: flex;                                  
    gap: 20px;
} 
.all-articles > div {
    border-radius: 16px;
    background-color: grey;
}
.all-articles h3 {
    padding-left: 20px;
    font-size: 22px;
}
.all-articles .hebergements {
    flex-basis: 66%;
}
.all-articles .populaires {
    flex-basis: 33%;
}
.star-blue{
    color:#0065fc;


}
.star-grey{
    color:grey;
    opacity:0.7;
}

/******************hebergements************************************************************/

.hebergements {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0;
    padding: 0 10px 0 10px;
}
.hebergements h3 {
    width: 100%;
}
.hebergements a {
    text-decoration: none;
    color: inherit;
}

.card-hebergement {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
 } 
.card-hebergement div {
    flex-basis: calc(33% - 40px);
    min-width: 220px;
}

.card {
    background-color:white;
    border-radius: 16px 16px 16px 16px;
    padding: 5px;
    box-shadow: 0 0 8px var gray;
    flex-grow: 1;
    margin: 0 10px 10px 10px;
    transition: all 0.2s;
}

.card img {
    border-radius: 16px 16px 0 0;
    height: 120px;
    width: 100%;
    object-fit: cover;
    padding-left:110 px ;
}
.card p, .card h4 {
    margin: 5px
}
h4{
   padding-left: 12px;
   font-size: 22px;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px var blue;
    cursor: pointer;
}
.card.stars {
    margin-top: auto;
    color:#0065fc;
}



/*****************************populaires**************************************************/


.populaires {
    display: flex;
    flex-direction: column;
    background-color: var(--light-grey);
}
.populaires h3 {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.popular-list {
    display: flex;
    flex-direction: column;
}

.card-popular {
    display: flex;
    background-color:white;
    padding: 5px;
    border-radius: 15px;
    min-height: 140px;
    margin: 0 20px 20px 20px;
    min-width: 200px;
    box-shadow: 0 0 8px var(--dark-grey);
    transition: all 0.2s;
}
.card-popular:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--blue);
    cursor: pointer;
}
.card-popular img {
    object-fit: cover;
    border-radius: 16px 0 0 16px;
    height: 140px;
    min-width: 35%;
    width: 35%;
}

.card-description {
    background-color:white;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.card-description p,
.card-description h4 {
    margin: 3px;
}

.card-description .stars-margin-top {
    margin-top: auto;
}

.h4{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 26px;
    
    color: #000000; 
}
/***********************activites*****************************************/
.container-act{
    display: flex;
    flex-direction:row;
    align-items: center;
    flex-wrap: no wrap;
    justify-content: space-between;
}
.activités-list{
    display: flex;
    background-color:white;
    justify-content: space-between;
    align-items: center;
    width:100%;
   
}

 .card-activités {
    margin-top: auto;
    display: flex;
    width:20%;
    height:320px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 4px 4px white;
    transition: all 0.2s;
    
}
.card-activités img{
    border-radius: 30px 30px 0px 0px;
    border-top-right-radius: 30px;
    height: 200px;
    width: 300px;
    object-fit:cover;
    padding-left:20 px;
  
}


.card-activités:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 40px rgb(83, 80, 255);
    cursor: pointer;
}


/*************************footer************************************************/

.footer{
    height: 300px;
    margin-top:80px;
    background-color:grey;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}
.card-footer{
    width: 30%;
    justify-content: center;
    margin-top :1em;
    flex-wrap: nowrap; 
}
.card-footer h4{
    font-size: 24px;
}
.card-footer h4{
    padding-left: 20px;
}
.card-footer p{
    padding-left: 20px;
}
/*******************************media queries******************************/    
/*******************************media querries******************************/
/*******************************media queries***************************************/
/**********************************destktop first max 1400px***********************************/
@media screen and( max-width:1400px) {
    .ul search-filters{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}
    .all-articles{
    display: flex;
    flex-direction: column;
}
   .card-popular{
    justify-content: space-between;
   }

}

/**************************tablette max 992px*******************************************/
 @media screen and (max-width: 992px) {
    .all-articles {
        flex-direction: column;
    }
    .all-articles > div {
        background-color:grey;
    }   
.list-item{
    width: 100%;
    display: flex;

}
    .popular-list, 
    .hebergements {
        display: flex;
        flex-direction: row;
    }
    .card-popular {
        flex-basis: 33%;
    }
 }  .activités-list{
    display: flex;
    background-color:white;
    justify-content: space-between;
    align-items: center;
    width:100%;
   
}

 .card-activités {
    margin-top: auto;
    display: flex;
    width:25%;
    height:300px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 4px 4px white;
    transition: all 0.2s;
    padding: 2px;
    
}
.card-activités img{
    border-radius: 30px 30px 0px 0px;
    height: 200px;
    width:200px;
    object-fit:cover;
    padding-left:14px;
  
} 


/************************************** mobile max 768 px**************************************/
@media screen and (max-width: 768px) {
    /*******************section: head ********/
    .logo{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        max-height: 80px;
        width: 40%;
        justify-content: center;
    }
    img.logo{
        flex-direction: center;
        margin-left: 200px;
    }
    
    #container-nav{
        display: flex;
        width: 100%;
        justify-content: space-between;

    }
    nav{
        display: flex;
        flex-direction: column;
    }
    .container-nav1{
        border-bottom: #0065fc 5px solid;
        padding: 25px;
    }
    .container-nav2{
        border-bottom: #0065fc 5px solid;
        padding: 25px;
    }
    .container-nav1:hover,.container-nav2:hover{
        border-top: none;
    }
   
    a.link-1,.link-2{
        text-decoration: underline;
        color: #0065fc;
        font-size: 25px;

    }
    #research-input{
        font-size:20px ;
        font-weight: bold;
        color: black;
    }
   
    
  
   
   
    #main-top h2{
    margin-top: 200px;
}
  
    .research{
    width: 600px;
}
    #research-input{
    width: 400px;
}
    #icone6{
        width: 16%;
    }
    #research-button-phone{
            display:flex;
            background-color: #0065fc;
            color: #dee8ff;
            font-weight: bold;
            border-top-right-radius: 8px;
            border-bottom-right-radius:8px ;
            width: 16%;
            
    }

    #button-research{
            display:none;
        }  
    .search-filters{
        display: flex;
        max-width: 990px;
        flex-wrap: wrap;
    } 
    .list-element{
        width: 250px;
       }
    .list-item{
        display: flex;
        width:100%;
        flex-wrap: wrap;
    }
    
/******************hebergements***********************************/    
    .all-articles{
            flex-direction: column-reverse;
            gap: 60px;
              
        }
    .all-articles .hebergements{
        background-color: white;
       
    }
    
  .hebergements div{
    background-color: white;
  }
    .card-hebergement {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 10px;
            justify-content: space-around;
            min-height: 220px;
            background-color:white;
         } 
    .card-hebergement div {
            flex-basis: calc(33% - 40px);
            min-width: 220px;
            min-height: 250px;
            border:5px solid var(--grey);

        }
    .hebergements {
            display: flex;
            flex-direction: column;
            gap: 0;
            
            padding: 0 10px 0 10px; 
            background-color:white;
            
        }

    .card-popular {
                display: flex;
                background-color:white;
                padding: 5px;
                border-radius: 15px;
                min-height: 180px;
                margin: 0 20px 20px 20px;
                min-width: 200px;
                box-shadow: 0 0 8px var(--dark-grey);
                transition: all 0.2s; }
    .popular-list {
                display: flex;
                 flex-direction: column;
                } 
/************************activites***********************************/  
    
    .container-act{
        display:flex;
        background-color:white;
        flex-direction:column;
        justify-content: space-between;
        gap: 8px;
    }
   
    .activités-list{
            display:inline;
            justify-content: space-between;
        }
    .card-activités {
            height: 400px;
            margin-top: auto;
            display: flex;
            flex-direction:row;
            width:100%;
            padding-left: 2%;
            border-radius: 30px 30px 30px 30px;
            box-shadow: 0 0 8px var(--dark-grey);
            transition: all 0.2s;
        }
    .card-activités img{
        border-top-left-radius:20% ;
        border-top-right-radius: 20%;
        max-height: 300px;
        height: 400px;
        width: 600px;
        object-fit: cover;
        padding-left:50px ;
   
    }
    .card-activités h4{
        padding-left: 140px;
    }
   
/***************************footer***************************************/
    .card-footer{
        display:flex;
        flex-direction:column;

    }
    .card-footer h4{
        font-size: 24px;
    }
    .card-footer h4{
        padding-left: 20px;
    }
    .card-footer p{
        padding-left: 20px;
    }
    .footer{
        display:flex;
        flex-direction: column;
        padding-inline-start: 15%;
        height: 1000px;
    }
}



       
    












   
    
  
    


   
  


    
  

 
 
    
    
    
     

