/**tablette max 992px**/
@media screen and (max-width: 992px) {
    .all-articles {
        flex-direction: column;
        gap: 10px;
    }

    #container-nav a {
        font-size: 18px;
    }

    .filters-icon {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 18px;
        padding-right: 0px;
    }

    .filters-section h3 {
        margin: 25px 25px 0px 30px;
        margin-left: 0px;
    }

    .filters-section p {
        margin-left: 0%;
        display: flex;
        width: 120%;
    }

    /*hebergements*/
    .hebergements {
        margin-top: 4%;
        margin-top: 20px;
        margin-bottom: 0px;
        height: 900px;
        width: auto;
    }
    .card-hebergement{
        margin-left: 40px;
    }
    #acacher {
        padding-bottom: 70px;
    }

    .hebergements h3 {
        margin-top: 55px;
        margin-bottom: 75px;
    }

    .card {
        width: 210px;
        margin: 0px 20px 30px 80px;
        margin-left: 10px;
    }

    .popular-list,
    .hebergements {
        display: flex;
        flex-direction: row;
    }

    .card-popular img {
        height: 282px;
        width: 110px;
    }

    .card-popular {
        border: 4px solid white;
        width: 242px;
        height: 285px;
        margin: 0px 15px 60px 20px;
    }

    .card-description {
        width: 226px;
    }

    .fa-chart-line {
        padding-left: 620px;
    }

    .stars-margin-top {
        display: flex;
        font-size: 16px;
        flex-wrap: nowrap;
    }

    .fa,
    .fas {
        display: flex;
        font-weight: 400;
        flex-wrap: nowrap;
    }

    .fas fa-star star-blue {
        font-size: 16px;
    }

    /*activités*/
    .activites-list {
        display: flex;
        background-color: white;
        align-items: center;
        width: 100%;
    }

    .card-activites {
        margin-top: auto;
        height: 327px;
        box-shadow: 5px 5px 5px white;
        transition: all 0.2s;
        border: 3px solid var(--blue);
    }

    .card-activites img {
        height: 260px;
        border-radius: 20px 20px 0px 0px;
    }

    .card-popular h4,
    .card-hebergement h4,
    .card-activites h4 {
        font-size: 16px;
    }

    #act {
        padding-left: 20px;
        padding-bottom: 25px;
    }

    .card-activites-title {
        display: flex;
        padding-left: 12px;
    }

    .card-activites:hover {
        transform: scale(1.02);
        box-shadow: 0px 0px 40px lightgray;
        cursor: pointer;
    }

    /*footer*/
    .footer1,
    .footer2,
    .footer3 {
        width: 280px;
    }
}